.card {
  width: 260px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 6px;
  padding: 6px;
  list-style-type: none;
  border-radius: 20px;
  &__info {
    min-height: 102px;
    background-color: #10aac2;
    padding: 18px 6px 18px 18px;
    &--name {
      padding-bottom: 3px;
    }
  }
  &__img {
    width: 100%;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
